<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>J's Cafe</title>
</head>
<body>
    <footer>
        <div class="footer-menu">
            <a href="../contact/contact.html">お問い合わせ</a>
            <a href="../privacy_policy/privacy_policy.html">プライバシーポリシー</a>
            <a href="../recruit/recruit.html">スタッフ募集</a>
        </div>
        <p>Copyright©︎J's Cafe All Right Reserved. </p>
    </footer>
</body>
</html>