<!-- menu画面 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/05289e866fe7e1e99d27a7a31f8d3b66?family=Trattatello" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="../../../public/assets/reset.css">
    <link rel="stylesheet" href="../../../public/assets/css/common.css">
    <link rel="stylesheet" href="../../../public/assets/css/menu.css">
    <title>J's Cafe</title>
</head>
<body>
    <section class="hero">
        <div class="hero-img"></div>
        <div class="hero-container w-container">
            <header>
                <a href="../top/top.html" class="logo">logo</a>
                <nav>
                    <ul>
                        <li><a href="../news/news.html">NEWS</a></li>
                        <li><a href="../menu/menu.html">MENU</a></li>
                        <li><a href="../cncept/concept.html">CONCEPT</a></li>
                        <li><a href="../contact/contact.html">ACCESS</a></li>
                    </ul>
                </nav>
            </header>
            <div class="hero-title">
                <h1>Menu</h1>
            </div>
        </div>
    </section>
    <section class="main-contents">
        <div class="menu-inner-wrapper">
            <div class="slider-wrapper">
                ここにスライダーが入ります
            </div>
            <h2 class="page-title">Menu List</h2>
            <div class="menu-list">
                <div class="menu-item">
                    <div class="menu-img">img</div>
                    <p>アマトリチャーナ</p>
                </div>
                <div class="menu-item">
                    <div class="menu-img">img</div>
                    <p>アマトリチャーナ</p>
                </div>
                <div class="menu-item">
                    <div class="menu-img">img</div>
                    <p>アマトリチャーナ</p>
                </div>
                <div class="menu-item">
                    <div class="menu-img">img</div>
                    <p>アマトリチャーナ</p>
                </div>
                <div class="menu-item">
                    <div class="menu-img">img</div>
                    <p>アマトリチャーナ</p>
                </div>
                <div class="menu-item">
                    <div class="menu-img">img</div>
                    <p>アマトリチャーナ</p>
                </div>
                <div class="menu-item">
                    <div class="menu-img">img</div>
                    <p>アマトリチャーナ</p>
                </div>
                <div class="menu-item">
                    <div class="menu-img">img</div>
                    <p>アマトリチャーナ</p>
                </div>
            </div>
            
        </div>
    </section>
    <footer>
        <div class="footer-menu">
            <a href="../contact/contact.html">お問い合わせ</a>
            <a href="../privacy_policy/privacy_policy.html">プライバシーポリシー</a>
            <a href="../recruit/recruit.html">スタッフ募集</a>
        </div>
        <p>Copyright©︎J's Cafe All Right Reserved. </p>
    </footer>
</body>
</html>