<!-- top画面 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/05289e866fe7e1e99d27a7a31f8d3b66?family=Trattatello" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../../public/assets/reset.css">
    <link rel="stylesheet" href="../../../public/assets/css/common.css">
    <link rel="stylesheet" href="../../../public/assets/css/top.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>J's Cafe</title>
</head>
<body>
    <section class="hero">
        <div class="hero-container w-container">
            <header>
                <a href="../top/top.html" class="logo">logo</a>
                <nav>
                    <ul>
                        <li><a href="../news/news.html">News</a></li>
                        <li><a href="../menu/menu.html">Menu</a></li>
                        <li><a href="../company/company.html">Company</a></li>
                    </ul>
                </nav>
            </header>
            <div class="inner-contents">
                <h1>J's Cafe</h1>
            </div>
        </div>
    </section>
</body>
</html>