<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/05289e866fe7e1e99d27a7a31f8d3b66?family=Trattatello" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../../public/assets/reset.css">
    <link rel="stylesheet" href="../../../public/assets/css/common.css">
    <link rel="stylesheet" href="../../../public/assets/css/news.css">
    <script src="https://kit.fontawesome.com/d9203d9956.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>J's Cafe</title>
</head>
<body>
    <section class="hero">
        <div class="hero-img"></div>
        <div class="hero-container w-container">
            <header class="header">
                <a href="../top/top.html" class="logo">logo</a>
                <nav>
                    <ul>
                        <li><a href="../news/news.html">NEWS</a></li>
                        <li><a href="../menu/menu.html">MENU</a></li>
                        <li><a href="../concept/concept.html">CONCEPT</a></li>
                        <li><a href="../access/access.html">ACCESS</a></li>
                    </ul>
                </nav>
            </header>
            <div class="hero-title">
                <h1>News</h1>
            </div>
        </div>
    </section>
    <section class="main-contents w-container">
        <div class="category-container stickey-position">
            <p>すべて</p>
            <p>サービス</p>
            <p>SNS</p>
            <p>新発売</p>
        </div>
        <div class="news-container">
            <table>
                <tbody>
                    <tr class="news-item">
                        <th class="news-head">
                            <p>2021年XX月XX日</p>
                            <span class="new">新発売</span>
                        </th>
                        <td>
                            <a href="#">タイトルが入りますタイトルが入ります</a>
                        </td>
                    </tr>
                    <tr class="news-item">
                        <th class="news-head">
                            <p>2021年XX月XX日</p>
                            <span class="sns">SNS</span>
                        </th>
                        <td>
                            <a href="#">タイトルが入りますタイトルが入ります</a>
                        </td>
                    </tr>
                    <tr class="news-item">
                        <th class="news-head">
                            <p>2021年XX月XX日</p>
                            <span class="service">サービス</span>
                        </th>
                        <td>
                            <a href="#">タイトルが入りますタイトルが入ります</a>
                        </td>
                    </tr>
                    <tr class="news-item">
                        <th class="news-head">
                            <p>2021年XX月XX日</p>
                            <span>サービス</span>
                        </th>
                        <td>
                            <a href="#">タイトルが入りますタイトルが入ります</a>
                        </td>
                    </tr>
                    <tr class="news-item">
                        <th class="news-head">
                            <p>2021年XX月XX日</p>
                            <span>SNS</span>
                        </th>
                        <td>
                            <a href="#">タイトルが入りますタイトルが入ります</a>
                        </td>
                    </tr>
                    <tr class="news-item">
                        <th class="news-head">
                            <p>2021年XX月XX日</p>
                            <span>SNS</span>
                        </th>
                        <td>
                            <a href="#">タイトルが入りますタイトルが入ります</a>
                        </td>
                    </tr>
                    <tr class="news-item">
                        <th class="news-head">
                            <p>2021年XX月XX日</p>
                            <span>SNS</span>
                        </th>
                        <td>
                            <a href="#">タイトルが入りますタイトルが入ります</a>
                        </td>
                    </tr>
                    <tr class="news-item">
                        <th class="news-head">
                            <p>2021年XX月XX日</p>
                            <span>SNS</span>
                        </th>
                        <td>
                            <a href="#">タイトルが入りますタイトルが入ります</a>
                        </td>
                    </tr>
                    <tr class="news-item">
                        <th class="news-head">
                            <p>2021年XX月XX日</p>
                            <span>SNS</span>
                        </th>
                        <td>
                            <a href="#">タイトルが入りますタイトルが入ります</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <footer>
        <div class="footer-menu">
            <a href="../contact/contact.html">お問い合わせ</a>
            <a href="../privacy_policy/privacy_policy.html">プライバシーポリシー</a>
            <a href="../recruit/recruit.html">スタッフ募集</a>
        </div>
        <p>Copyright©︎J's Cafe All Right Reserved. </p>
    </footer>
</body>
</html>