$bgColorFooter: #5F4E46;

@import url(//db.onlinewebfonts.com/c/05289e866fe7e1e99d27a7a31f8d3b66?family=Trattatello);
@font-face {
    font-family: MyWebFont;
    src: url("../fonts/Chalkduster.woff") format("woff");
}


footer {
    height: 200px;
    background-color: $bgColorFooter;

    .footer-menu {
        display: flex;
        justify-content: space-between;

    }
}

body {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: inherit;
}

.w-container {
    width: 90%;
    margin: auto;
}

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: auto;
    & .hero-img {
        position: absolute;
        z-index: -10;
        top: 0;
        left: 0; 
        right: 0;
        bottom: 0;
        margin: auto;
        width: 90%;
        height: 80%;
        background-image: url("/public/images/shard-g794920a6f_1920.jpg");
        background-size: cover;
        background-position: center;
    }
    & .hero-container {
        width: 90%;
        height: 90%;
        margin: auto;
        & header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: inherit;
            height: 50px;
            & .logo {
                width: 200px;
                height: 100%;
                background-color: pink;
            }
            & nav {
                & ul {
                    display:flex;
                    & li {
                        margin: 0 1em;
                    }
                }
            }
        }
        & .hero-title {
            width: 100%;
            min-height: 100vh;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & h1 {
                font-size: 6rem;
                font-family: MyWebFont;
                // font-family: "Trattatello";
                &::before,
                &::after {
                    content: '-';
                    display: inline-block;
                    margin: 0 2rem;
                }
            }
        }
    }
}

.main-contents {
    margin-bottom: 200px;
}