.main-contents {
    display: flex;
    justify-content: space-between;

    & .news-container {
        width: 90%;

        & .news-head {
            display: flex;
            align-items: center;
            padding: 15px;
            & p {
                margin-right: 1em;
            }

            & span {
                display: inline-block;
                background-color: gray;
                color: #fff;
                padding: 0.5em 1em;
            }
        }
    }
}