.head-text-container {
    & h2 {
        position: relative;
        &::after {
            position: absolute;
            top: -0.6em;
            left: 50%;
            content: 'People';
            font-size: 3em;
            color: #efefef;
            z-index: -10;
        }
    }
}

.description-container {
    width: 80%;
    margin: auto;

    & .desc-table {
        width: 100%;
        & th {
            width: 30%;
        }
    }
}

